.container-table {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  background-color: #ffffff;
  border: 1px solid #a1a1a1;
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  margin: 20px 20px;
  padding: 15px;
  margin-top: 10%;
}

.content-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 50%;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.button-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  overflow: hidden;
}

.content-table thead tr {
  background-color: #FF7A0A;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #FF7A0A;
}

.content-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}