.task-container {
    background-color: #a1a1a1;
    margin: 8px 0;
    padding: 15px 20px;
    display: flex;
    border-radius: 5px;
    justify-content: space-between;
    color: black;
}

.task-title {
    cursor: pointer;
}

.see-task {
    margin-right: 5px;
}